<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>11</TotalTime><Pages>5</Pages><Words>1147</Words><Characters>6312</Characters><Application>Microsoft Macintosh Word</Application><DocSecurity>0</DocSecurity><Lines>52</Lines><Paragraphs>14</Paragraphs><ScaleCrop>false</ScaleCrop><Company>Agile Birds</Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>7445</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>14.0000</AppVersion></Properties>