<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>5</TotalTime><Application>LibreOffice/5.0.2.2$MacOSX_X86_64 LibreOffice_project/37b43f919e4de5eeaca9b9755ed688758a8251fe</Application><Paragraphs>1</Paragraphs><Company>Agile Birds</Company></Properties>